.app h1 {
    text-align: center;
}
.todo-input {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}
.todo-input input {
    width: 70vw;
    height: 10vh;
}
.todo-input input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px; 
}
.todo-input input[type="text"]:focus {
    border-color: #1c6f0b; 
    outline: none;
    border-radius: 10px;
    border: 1px dashed #1c6f0b;
}
.todo-input #enter {
    height: 10vh;
    width: 5vw;
}
.todo-input #enter:hover {
    background-color: #0f73d8;
    cursor: pointer;
    border: 1px dashed #d3a81b;
}
.fa-plus {
    font-size: 18px;
}
.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixed-size {
    width: 552px; 
    height: 30px; 
    resize: none;
    padding: 10px; /* Add padding to the textarea */
    font-family: Arial, sans-serif; /* Specify a font family */
    font-size: 14px; /* Specify a font size */
    line-height: 1.5; /* Specify line height for better readability */
    color: #333; /* Set text color */
    border: 2px solid #0662b8; /* Add border */
    border-radius: 5px;
}
.edit-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px; 
}
.update-controller {
    display: none; /* Hide update controller by default */
}
.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add margin between items */
    margin-right: 10px; /* Add margin between textareas */
}
.saveBtn {
    margin-top: 5px; /* Adjust the margin-right value as needed */
}